[submodule "src/GEOS-Chem"]
	path = src/GEOS-Chem
	url = https://github.com/ltmurray/geos-chem.git
[submodule "src/HEMCO"]
	path = src/HEMCO
	url = https://github.com/ltmurray/hemco.git
[submodule "docs/source/geos-chem-shared-docs"]
	path = docs/source/geos-chem-shared-docs
	url = https://github.com/geoschem/geos-chem-shared-docs.git
